* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    display: flex;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url("Media/timeline_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    position: fixed;
    display: flex;
    width: 100%;
    top:0;
    padding: 1.25rem;
    background: #00263a;
    color: #BA0C2f;
    z-index: 100;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}
nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding:.5rem;
}
.logo{
    height: 3rem;
    width: auto;
}
header h1 {
    font-size: 2rem;
}
a:link {
    color:#BA0C2f;
}
a:visited {
    color: #BA0C2f;
}
a.ps_link:link {
    color: #ffd700;
}
a.ps_link:visited {
    color: #ffd700;
}
/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 1.25rem auto;
  padding: 1.25rem;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: .125rem solid #00263a;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 1.25rem 1.25rem;
  padding: .625rem;
  background: #00263a;
  color: white;
  border-radius: .5rem;
  max-width: 25rem;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}
.info h4 {
    color: #ffd700;    
}
/* Title of the card */
.title {
  color: #BA0C2f;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: .625rem;
  height: .625rem;
  background: #ffd700;
  border-radius: 62.4375rem;
  left: -2.4375rem;
  border: .1875rem solid #BA0C2f;
}
footer {
    background: #BA0C2f;
    color: white;
    text-align: center;
    padding: 1.25rem;
}
footer {
    width: 100%;
    background: #BA0C2f;
    color: white;
    text-align: center;
    padding: 1.25rem;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    body {
        min-height: 100vh;
    }
    nav {
        margin-top: .625rem;
        margin: auto;
    }
    .mainImg {
        max-width: 100%;
        height: auto;
    }

}
